button.button(class='open-form') New Folder
dialog(class='modal' id='modal')
  h1 New Folder
  form(action='/folders/create' method='POST')
      label(for='name') Folder Name:
      input(type='text' name='name')
      input(type='submit', value='Create Folder')
  button(class='close-button') Close