extends layout

block content
 
  h1= folder.name

  button(class='open-form') edit 
  dialog(class='modal' id='modal')
    form(method='POST', action=`/folders/${folder.id}/update`)
      label(for='name') Folder Name:
      input(type='text' name='name' value= folder.name)
      input(type='submit', value='Update')
    button(class='close-button') close modal
   
  form(method="post", action=`/folders/${folder.id}/delete`)
    input(type='submit', value='Delete')
  if(folder.file)
    each file in folder.file
      li= file

  include utils.pug