extends layout

block content

    h1 New Folder
    form(action='/folders/create' method='POST')
        label(for='title') Folder Name:
        input(type='text' name='title')
        input(type='submit', value='Create Folder')