extends layout

block content

  if user
    h1= user.username
    p Welcome to #{user.username}
    if(message)
      p ${errors}
    a(href='/log-out') Logout
  else 
    h1="Login"

    form(action='/log-in' method="POST")
      label(for='username') Username:
      input(name='username', value='', type='text')
      label(for='password') Password:
      input(name='password', value='', type='password') 
      input(type='submit', value='Submit')