extends layout

block content

  h1 Sign Up
  | Already have an account 
  a(href='/') Log-in
  if(errors)
    h1 #{errors[0].msg}

  form(action='/users/sign-up' method="POST")
      label(for='username') Username:
      input(name='username', value='', type='text')
      label(for='password') Password:
      input(name='password', value='', type='password') 
      label(for='confirmPW') Confirmed Password:
      input(name='confirmPW', value='', type='password')
      input(type='submit', value='Create Account')